//
// Extended from bootstrap
//
// card

.card {
  box-shadow: $smooth-shadow-sm;
  border: 0px;
  border-radius: $border-radius-lg;
}

.carousel-item {
  height: 500px;
  overflow: hidden;
}

/* Adjust height for smaller screens */
@media (max-width: 576px) {
  .carousel-item {
    height: 220px;
    overflow: hidden;
  }
}
